
.footer {

  &::before {
    content: '';
    display: block;
    width: 1200px;
    height: 1px;
    background-color: $support-border-color;
    margin: 0px auto 10px auto;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  &__free-template-resource,
  &__link {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: $support-text-color;
  }

  &__link {
    color: $support-color;

    &:hover,
    &:focus {
      color: $secondary-color;
      cursor: pointer;
    }
  }
}

.subscribe-form {
  display: flex;
  justify-content: end;

  &__input {
    border: 1px solid $input-border-color;
    width: 234px;
    height: 40px;
    padding-left: 10px;

    &::placeholder {
      font-family: $secondary-font;
      font-size: 15px;
      line-height: 24px;
      font-weight: 300;
      font-style: italic;
      color: rgb(204, 204, 204);
    }
  }

  &__btn {
    width: 150px;
    height: 40px;
    background-color: $support-color;
    font-size: 14px;
    font-weight: 700;
    color: $secondary-text-color;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    border: none;

    &:hover,
    &:hover {
      transition: 0.5s;
      background-color: $secondary-color;
      cursor: pointer;
    }
  }
}
