
.footer {
  &::before {
    content: '';
    display: block;
    width: 1200px;
    height: 1px;
    background-color: $support-border-color;
    margin: 0px auto 10px auto;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  &__free-template-resource,
  &__link {
    @include font($main-font, 14px, 400, $support-text-color, 1.2);
  }

  &__link {
    color: $support-color;

    &:hover,
    &:focus {
      color: $secondary-color;
      cursor: pointer;
    }
  }
}

.subscribe-form {
  display: flex;
  justify-content: end;

  &__input {
    border: 1px solid $input-border-color;
    width: 234px;
    height: 40px;
    padding-left: 10px;

    &::placeholder {
      @include font($secondary-font, 15px, 300, $placeholder-text-color, 24px);
      font-style: italic;
    }
  }

  &__btn {
    @include font($main-font, 14px, 700, $secondary-text-color, 40px);
    width: 150px;
    height: 40px;
    background-color: $support-color;
    text-transform: uppercase;
    text-align: center;
    border: none;

    &:hover,
    &:hover {
      transition: 0.5s;
      background-color: $secondary-color;
      cursor: pointer;
    }
  }
}
