.header {
  background-image: linear-gradient(
      to top,
      transparentize($main-color, 0.1),
      transparentize($secondary-color, 0.1)
    ),
    url('../images/vulture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 26px;
  padding-bottom: 230px;

  &__title {
    font-size: 72px;
    font-family: $support-font;
    color: $secondary-text-color;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    margin-bottom: 42px;
  }

  &__description {
    max-width: 820px;
    margin: 0 auto 108px auto;
    font-size: 150px;
    color: $secondary-text-color;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.933;
    text-align: center;
  }

  &__btn {
    font-size: 14px;
    color: $secondary-text-color;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 38px;
    text-align: center;
    width: 164px;
    height: 44px;
    border: 3px solid $secondary-text-color;
    background-color: transparent;
    display: block;
    margin: 0 auto;

    &:hover,
    &:focus {
      transition: 1s;
      border: $main-color;
      background-color: $secondary-text-color;
      color: $main-color;
      cursor: pointer;
    }
  }
}

@media (min-resolution: 192dpi) {
  .header {
    background-image: linear-gradient(
        to top,
        transparentize($main-color, 0.1),
        transparentize($secondary-color, 0.1)
      ),
      url('../images/vulture@2x.jpg');
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 156px;

  &__rightpart {
    display: flex;
  }

  &__rightpart {
    display: flex;
  }

  &__list {
    max-width: 540px;
    display: flex;

    &-link {
      position: relative;
      font-size: 14px;
      color: $secondary-text-color;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.2;

      &:hover,
      &:focus {
        transition: 0.3s;
        color: $main-color;
        cursor: pointer;
      }
    }

    &-link::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: $main-color;
      margin-top: 10px;
      opacity: 0;
      visibility: hidden;
    }

    &-link:hover::after,
    &-link:focus::after {
      transition: 1s;
      opacity: 1;
      visibility: visible;
    }

    &-item {
      margin-right: 55px;
    }
  }
}

.modal-buttons {
  width: 80px;
  display: flex;
  justify-content: space-between;

  &__btn:hover .modal-buttons__btn-icon {
    transition: 0.5s;
    fill: $main-color;
    cursor: pointer;
  }

  &__btn {
    border: none;
    background-color: transparent;

    &-icon {
      fill: $secondary-text-color;

      &_basket {
        width: 18px;
        height: 15px;
      }

      &_search {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.mogo-logo {
  font-size: 30px;
  color: $secondary-text-color;
  font-weight: 700;
  line-height: 1.2;

  &:hover,
  &:focus {
    transition: 0.3s;
    color: $main-color;
    cursor: pointer;
  }
}
