$main-font: 'Montserrat';
$secondary-font: 'Roboto';
$support-font: 'Kaushan Script';

$main-color: rgb(252, 227, 138);
$secondary-color: rgb(243, 129, 129);
$support-color: rgb(149, 225, 211);
$main-text-color: rgb(153, 153, 153);
$secondary-text-color: rgb(255, 255, 255);
$support-text-color: rgb(51, 51, 51);
$input-border-color: rgb(231, 231, 231);
$support-border-color: rgb(229, 229, 229);