$main-font: 'Montserrat';
$secondary-font: 'Roboto';
$support-font: 'Kaushan Script';

$main-color: rgb(252, 227, 138);
$secondary-color: rgb(243, 129, 129);
$support-color: rgb(149, 225, 211);
$main-text-color: rgb(153, 153, 153);
$secondary-text-color: rgb(255, 255, 255);